<%= form_for(@enumerado) do |f| %>
  <% if @enumerado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enumerado.errors.count, "error") %> prohibited this enumerado from being saved:</h2>

      <ul>
      <% @enumerado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :radical %><br>
    <%= f.text_field :radical %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
