<p id="notice"><%= notice %></p>

<p>
  <strong>Radical:</strong>
  <%= @enumerado.radical %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @enumerado.descripcion %>
</p>

<%= link_to 'Edit', edit_enumerado_path(@enumerado) %> |
<%= link_to 'Back', enumerados_path %>
