<p id="notice"><%= notice %></p>

<p>
  <strong>Pais:</strong>
  <%= @provincium.pais_id %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @provincium.provincia %>
</p>

<%= link_to 'Edit', edit_provincium_path(@provincium) %> |
<%= link_to 'Back', provincia_path %>
