<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CGS - Sistema de Gestión de Servicios" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="top-bar">
      <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle></button>
        </span>
        <%= image_tag "CGSlogo.png", size:"100x40"  %>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">At de Clientes</a>
              <ul class="menu vertical">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
              </ul>
            </li>
            <li><a href="#">Ciclo Comercial</a></li>
            <li><a href="#">Servicio Técnico</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
            <% if (current_user) %>
              <li><%= link_to 'User: ' + current_user.name, logout_path %></li>
            <% else %>
              <li><%= link_to "Login", login_path %></li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>

    <%= yield %>

    <div class="row">
      <div class="small-3 large-3 columns small-text">
        <div class="row">
          <div class="small-6 large-6 columns">
            <%= image_tag "CGSlogo.png", :size=>"94x37" %>
          </div>
          <div>
            COMPAÑIA GENERAL<br/>DE SERVICIOS SRL
          </div>
        </div>
      </div>
      <div class="small-3 large-3 columns small-text">
        <div class="row">
          <div class="small-3 large-3 columns">
            <%= image_tag "home.png", :size=>"84x33" %>
          </div>
          <div>
            Los Zorzales 620 - J Koslay<br/> San Luis - CP: 5701
          </div>
        </div>
      </div>
      <div class="small-3 large-3 columns small-text">
        <div class="row">
          <div class="small-3 large-3 columns">
            <%= image_tag "phone.png", :size=>"84x33" %>
          </div>
          <div>
            J Pina: +54 9 266(15)4512645<br/>G Falavigna: +54 9 266(15)4512644
          </div>
        </div>
      </div>
      <div class="small-3 large-3 columns small-text">
        <div class="row">
          <div class="small-3 large-3 columns">
            <%= image_tag "mail.png", :size=>"84x33" %>
          </div>
          <div>
            J Pina: <%= mail_to "pinajoa@yahoo.com" %><br/>G Falavigna: <%= mail_to "gfalav@hotmail.com" %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
